.container

  #new_workout_form.row
    
    %section#workout_form.span3
      = f.input :name
      = f.input :client_level, collection: @client_level
      = f.input :difficulty, collection: @difficulty
      = f.input :notes, input_html: { rows: 4 }

      %h4 Exercises
      = render partial: "exercise_list", collection: @workout.exercises, as: :exercise
  
      = f.submit cta, class: "btn btn-primary"

    / - if edit_action
    /   %br
    /   %br
    /   #delete_workout= button_to "DELETE WORKOUT", @workout, class:   "btn btn-danger", confirm: @snapz_confirm_delete, method: :delete

    %section.span7#workout_exercises
      = render partial: "exercises/sort_by"
      %table.table.table-bordered.table-striped
        %tbody
          #exercise_list= render partial: "exercises", collection: @exercises, as: :exercise, locals: { f: f }