%section#workout_details
  = f.input :name
  = f.input :notes, input_html: {rows: 4}

  = f.simple_fields_for :exercises do |e|
    = e.input :exercise_id, as: :integer
    = e.input :sets, as: :integer
    = e.input :reps, collection: 0..50