.container
  = simple_form_for [current_user, @workout] do |f|
    = f.error_notification

    .row      
      %section.span3
        = f.input :name
        = f.input :client_level, collection: @client_level
        = f.input :difficulty, collection: @difficulty
        = f.input :notes, input_html: { rows: 4 }
    
        = f.submit cta, class: "btn btn-primary", class: "button_space"

        = link_to_delete_workout @workout, @snapz_confirm_delete
  
      %section.span7
        = render partial: "exercises/sort_by"
        %table#exercise_list.table.table-bordered.table-striped
          %tbody
            = render partial: "exercises", collection: @exercises, as: :exercise, locals: { f: f }