#workout_exercises.well
  %h3= exercise.name

  = exercise.safe_instructions.humanize
  - if can? :manage, @workout
    = link_to "Edit instructions", "#", class: "edit_workout_instructions"
    .edit_workout_instructions_form.hidden
      = render partial: "baby_form", locals: { form_element: exercise, form_attribute: :instructions }

  %h5 Sets
  = exercise.sets
  - if can? :manage, @workout
    = link_to "Edit sets", "#"

  %h5 Muscle-group
  = exercise.muscles[0].name

  %h5 Equipment
  = exercise.equipment_name.titleize

  %br

  - if can? :delete, @workout
    %th= link_to "REMOVE EXERCISE", workout_exercise_path(exercise), confirm: @snapz_confirm, method: :delete