%li.workout_exercise.big_box_list.row.well{ "data-id" => exercise.order_number }

  .w_e_order.span1
    - if can? :manage, @workout
      = render partial: "exercises/order_form", locals: { exercise: exercise, value: -1, direction: "up" }
      %h2.order_numbers= exercise.safe_order
      = render partial: "exercises/order_form", locals: { exercise: exercise, value: 1, direction: "down"  }

    - else
      %h2= exercise.safe_order

  .w_e_details.span3
    %h3= link_to exercise.name.titleize, exercise_path(exercise.exercise)
    %br

    .workout_instructions.workout_form_group
      .edit_wrokout_value.instructions
        %h5 Instructions
        = exercise.safe_instructions.humanize
        = link_to_edit_form @workout, "instructions"
      .hidden.edit_workout_form.instructions
        = link_to_baby_form current_user, @workout, :instructions, exercise
    %br
    %br

    %table.workout_exercise_details
      %thead
        %tr
          %th
            %h5 Sets
          %th
            %h5 Muscle-group
          %th
            %h5 Equipment

      %tbody
        %tr
          %td
            .workout_sets.workout_form_group
              .edit_wrokout_value.sets
                = exercise.safe_sets
                = link_to_edit_form @workout, "sets"
              .hidden.edit_workout_form.sets
                = link_to_baby_form current_user, @workout, :sets, exercise
          %td= exercise.muscle.titleize
          %td= exercise.equipment_name.titleize

    %br
    - if can? :delete, @workout
      %th= link_to "REMOVE", workout_exercise_path(exercise), confirm: @snapz_confirm, method: :delete, class: "btn btn-danger btn-mini"