#workout_exercises
.well
  %h3= exercise.name
  = exercise.instructions.humanize

  %h5 Sets
  = exercise.sets

  %h5 Muscle-group
  = exercise.muscles[0].name

  %h5 Equipment
  = exercise.equipment

  - if can? :delete, @workout
    %th= link_to "REMOVE EXERCISE", workout_exercise_path(workout_exercise), confirm: @snapz_confirm, method: :delete

/ %table#workout_exercises.table.table-bordered.table-striped
/   %thead
/     %tr
/       %th EXERCISE
/       %th SETS
/       %th INSTRUCTIONS
/       %th EQUIPMENT
/       - if can? :delete, @workout
/         %th

/   %tbody
/     - @workout.list_exercises.each do |workout_exercise|
/       %tr
/         %th= link_to workout_exercise.exercise_name, exercise_path(workout_exercise.exercise)

/         %th= workout_exercise.sets

/         - if workout_exercise.instructions
/           %th= workout_exercise.instructions.humanize

/         %th= workout_exercise.equipment_name.titleize

/         - if can? :delete, @workout
/           %th= link_to "REMOVE EXERCISE", workout_exercise_path(workout_exercise), confirm: @snaz_confirm, method: :delete