%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Exercise Name
      %th Sets
      %th Notes

  %tbody
    - @workout.all_exercises.each do |exercise|
      = f.fields_for :workout_exercises, @workout.new_workout_exercise do |e|
        %tr
          = e.hidden_field :exercise_id, value: exercise.id
          %td= exercise.titleize_name
          %td= e.input :sets
          %td= e.input :notes