%p#tab_sort_by
  SORT BY:
  - @exercise_types.each do |type|
    = link_to type.upcase, sort: type
    |

%table.table.table-bordered.table-striped

  %tbody#workout_exercises
    - @exercises.each do |exercise|
      = f.fields_for :workout_exercises, @workout.new_workout_exercise do |e|
        %tr#workout_exercises_fields
          = e.hidden_field :exercise_id, value: exercise.id
          %td#workout_exercises_sets
            %h4= exercise.name.titleize
            %br= e.input :sets, collection: 1..10, label: "Add Sets:"
          %td#workout_exercise_notes= e.input :notes, input_html: { rows: 4 }