%section#snapz_sayz= @snapz

%section
  = simple_form_for @workout do |f|
    = f.error_notification

    = render partial: 'form', locals: { f: f }

    = f.submit "CREATE WORKOUT", class: "btn btn-primary"