.workout_name
  = link_to_edit_form @workout, "name"
  = link_to_baby_form current_user, @workout, :name, [current_user, @workout]
%br

.workout_notes
  %h5 NOTES
  %p= @workout.safe_notes.capitalize
  = link_to_edit_form @workout, "notes"
  = link_to_baby_form current_user, @workout, :notes, [ current_user, @workout]
%br

%section.row
  %article.span8
    %header
      %h5 EXERCISES
    %ul.show_exercises
      = @workout.render_exercises self
    = link_to_add_exercise @workout
  %br

  %aside.span3.well
    = render "stats"
    = render "cta_buttons"

= render partial: "add_exercise_modal"