%h5 WORKOUT NOTES
%p= @workout.safe_notes.capitalize

%section.row

  %article.span7

    - if @workout.workout_exercises
      = render partial: "show_exercise", collection: @workout.workout_exercises, as: :exercise

    - elsif current_user == @workout.user
      %h4 This exercise has no workouts sucka! Get to work!

    - else
      %h4 No exercises for this workout, nothing to see here!

    = link_to "ADD EXERCISE", "#", class: "btn btn-primary"

  %aside.span3.well
    = render "stats"
    = render "cta_buttons"