%p
  This is an
  = @workout.difficulty
  workout for
  = @workout.client_level.pluralize

%h5 WORKOUT NOTES
%p= @workout.notes.capitalize

%section.row

  %article.span7= render 'show_exercise'

  %aside.span3.well= render "workout_aside"