.workout_name.workout_form_group
  = link_to_edit_form @workout, "name"
  .hidden.edit_workout_form.name
    = link_to_baby_form current_user, @workout, :name, [current_user, @workout]
%br

.workout_notes.workout_form_group
  .edit_wrokout_value.notes
    %h5 NOTES
    %p= @workout.safe_notes.capitalize
    = link_to_edit_form @workout, "notes"
  .hidden.edit_workout_form.notes
    = link_to_baby_form current_user, @workout, :notes, [ current_user, @workout]
%br

%section.row
  %article.span6
    %header
      %h5 EXERCISES
    %ul.workout_exercises
      = @workout.render_exercises self
    = link_to_add_exercise @workout
  %br

  %aside.span3.well
    = render "stats"
    = render "cta_buttons"

= render partial: "add_exercise_modal"