%section.row
  %article.span7

    %table#workout_exercises.table.table-bordered.table-striped
      %thead
        %tr
          %th EXERCISE
          %th SETS
          %th NOTES
      %tbody
        - @workout.list_exercises.each do |workout_exercise|
          %tr
            %th= link_to workout_exercise.exercise_name, exercise_path(workout_exercise.exercise)
            %th= workout_exercise.sets
            %th= workout_exercise.notes.humanize

    %h5 Notes
    %p= @workout.capitalize_notes

  %aside.span3.well
    = render "workout_aside"

%section= link_to "EDIT WORKOUT", edit_workout_path(@workout)