= simple_form_for @user do |f|
  = f.error_notification
  = f.input :username
  = f.input :email
  = f.input :password
  / = f.input :password_confirmation

  = f.submit cta, class: "btn btn-primary"

- if current_user
  %br
  %br
  = link_to "DELETE ACCOUNT", user_path(current_user), method: :delete,   data: { confirm: @delete_confirmation }, class: "btn btn-danger"