- @current_user = current_user ? current_user : User.new

= simple_form_for @current_user do |f|
  = f.input :username
  = f.input :email
  = f.input :password
  = f.input :password_confirmation

  = f.submit cta, class: "btn btn-primary"