= simple_form_for @user do |f|
  = f.error_notification
  = f.input :username
  = f.input :email
  = f.input :password
  = f.input :password_confirmation

  - unless current_user
    = f.input :terms_of_service, label: "I agree with fitafy's T&Cs", as: :radio_buttons

  = f.submit cta, class: "btn btn-primary"