= simple_form_for @user, validate: true do |f|
  = f.error_notification
  = f.input :username
  = f.input :email
  = f.input :password
  = f.input :password_confirmation

  - unless current_user
    = f.input :terms_of_service, label: "I agree with #{link_to 'the fitafy Terms of Service', '#terms_of_service_modal', 'data-toggle' => 'modal'}", as: :radio_buttons

  = f.submit cta, class: "btn btn-primary"

/ terms of service modal
- unless current_user
  .modal.hide.fade.in#terms_of_service_modal
  
    .modal-header
      %a.close{ "data-dismiss" => "modal" } x
      %h3= SnapzSayz::TermsSpeak.title

    .modal-body
      = render partial: "pages/terms_of_service_copy" 