.container

  %aside.span3
    / #profile= image_tag 'das_boot.png', size: "150x200"
    #profile= image_tag(@user.avatar_url ? @user.avatar_url : "das_boot.png")
    %br
    = render 'stats'

    - if @user == current_user
      = render 'edit_profile_buttons'

  %section.user_workouts.span8
    %h4
      - if @user == current_user
        Your workouts
      - else
        = "#{@user.username.titleize}'s"
        Workouts

    %br
    = render partial: "workouts/workout", collection: @workouts