%article.row.user_details
  .span1.user_profile_pic
    #profile= image_tag(@user.avatar_url ? @user.avatar_url : "das_boot.png")

  .span5.user_profile_details.well
    %header
      %h5
        MY GYM -
        = @user.gym.upcase

    %p= @user.bio.humanize

  .span3.user_stats.well
    .span1.user_workouts_count
      .user_stat= @user.workouts_count
      %p WORKOUTS
    .span1.user_favorite_workouts
      .user_stat= @user.count_favorite_workouts
      %p FAVORITES

%section.user_workouts
  %h2
    = @user == current_user ? "YOUR WORKOUTS" : "#{@user.username.upcase}'S WORKOUTS"

  .row#user_show_tags_list{'data-url' => users_workouts_path(@user.username)}
    = render partial: "tags/list", locals: { width: 9 }

  %ul#workout_list
    - @workouts.each do |workout|
      - @renderer.workout = workout
      = @renderer.render.html_safe

    - if @user == current_user
      %li.workout_item.box_list.well.span2
        = link_to "CREATE NEW WORKOUT", "  #new_workout_modal", 'data-toggle' => '  modal'
        %br
        %br
        = link_to "+", "#new_workout_modal", 'data-toggle' => 'modal', class: 'new_workout_plus'