.container

  %aside.span3
    #profile= image_tag(@user.avatar_url ? @user.avatar_url : "das_boot.png")

    %br
    = render 'stats'

  %section.user_workouts.span8
    %h2
      - if @user == current_user
        Your workouts
      - else
        = "#{@user.username.titleize}'s"
        Workouts

    = render partial: "tags/list", locals: { width: 8 }

    %br
      - @workouts.each do |workout|
        - @renderer.set_workout workout
        = @renderer.render.html_safe