%section#usp

  .usp_sign_up

    %header
      %h1= @usp

    %p= @sub_heading

    .email_form
      = simple_form_for @user, validate: true do |f|
        = f.error_notification
        = f.input :email, label: false, placeholder: 'your@email.com', input_html: { class: 'fitaform cta' }
        = f.submit 'SIGN UP', class: 'btn btn-primary fitasubmit cta'

      .sign_up_error= @error if @error