%h5 Contents
%ul
  %li= link_to "What information do we collect?", "#information_collection"
  %li= link_to "Why do we collect your information?", "#why"
  %li= link_to "Accessing and updating your personal information", "#accessing_updating_your_info"
  %li= link_to "Do we disclose any of your information to 3rd parties?", "#third_parties"
  %li= link_to "External links to the FITAFY website", "#external_links"
  %li= link_to "Notification of Changes", "#notification_of_changes"
  %li= link_to "Change Log", "#change_log"

%h5#information_collection What information do we collect?
We collect from you when your register on our website or app and if you fill out a form. As you register on our site you will be asked to enter your email address. It is also possible to use the software trial anonymously.
%br
%br

%h5#why Why do we collect your information?

We may use any information we collect for the following ways:
%ul
  %li To assist us create a better experience for you when using our website and service.
  %li Your information helps respond to your customer support and service needs.
  %li Your information and feedback helps us improve our website and services.
  %li Tailoring a website, application, or FITAFY marketing to your likely interests.
  %li Conducting market research about our customers, their interests, and the effectiveness of our marketing campaigns.
  %li Reducing fraud, software piracy, and protecting our customers.
  %li Sending you information about FITAFY, new application releases, special offers, and similar information.
  %li The FITAFY website and services may include buttons, tools, or content that link to other companies’ services. We may collect information about your use of these features.

%h5#accessing_updating_your_info Accessing and updating your personal information

Whenever you use our services, we aim to provide you with access to your personal information. If that information is wrong, we strive to give you ways to update it quickly or to delete it – unless we have to keep that information for legitimate business or legal purposes. When updating your personal information, we may ask you to verify your identity before we can act on your request.

We may reject requests that are unreasonably repetitive, require disproportionate technical effort (for example, developing a new system or fundamentally changing an existing practice), risk the privacy of others, or would be extremely impractical (for instance, requests concerning information residing on backup tapes). 

Where we can provide information access and correction, we will do so for free, except where it would require a disproportionate effort. We aim to maintain our services in a manner that protects information from accidental or malicious destruction. Because of this, after you delete information from our services, we may not immediately delete residual copies from our active servers and may not remove information from our backup systems. 
%br
%br

%h5#third_parties Do we disclose any of your information to 3rd parties?
We do not disclose, rent or sell and of your sensitive personal information to any third parties. This does not include trade partners that FITAFY to operate the business, conduct the business and service you. These partners also agree to this privacy policy and treat of your personal information. The FITAFY website and services may include buttons, tools, or content that link to other companies’ services. We may collect information about your use of these features. 

We shall however disclose information should it be deemed appropriate for law enforcement, to enforce our site or service policies or to protect our rights or property. 

FITAFY may also share your information
%ul
  %li When you agreed to the sharing.
  %li Within the FITAFY family of companies for purposes described in this privacy policy.
  %li When we are required to provide information in response to a subpoena, court order, or other applicable law or legal process.
  %li When we have a good faith belief that the disclosure is necessary to prevent or respond to fraud, defend our websites or applications against attacks, or protect the property and safety of FITAFY, our customers and users, or the public.

If we merge with or are acquired by another company; we sell an FITAFY website, application, or business unit or all or a substantial portion of our assets are acquired by another company. In those cases your information will likely be one of the assets that is transferred.
%br
%br

%h5#external_links External links to the FITAFY website

We have links on our website to 3rd party products or services which have their own independent privacy policies. We hold no responsibility or liability for the content and activities of these sites. Please use or view the sites at your own discretion. 

The FITAFY website and services may include buttons, tools, or content that link to other companies’ services. We may collect information about your use of these features. 
%br
%br

%h5#notification_of_changes Notification of Changes 

Any changes to this Privacy Policy will be posted to this Website and emailed to the last email address you have given to us, and will become effective as of the later of the date we post on the Website or, send the email. 

You may object to any changes within 20 days after they are posted on our Website or delivered to you, in which case none of the proposed changes will be effective with respect to information that we have already collected from you; but will apply only to information we collect or access from you in the future.

There are purposes, other than marketing, for which we are not willing or able to treat information of any open account differently from that of any other open account. Therefore, if you object to changes in our Privacy Policy which relate to those purposes, we will have to terminate your account. In contrast, in the event we ever changed our Privacy Policy to allow us to have an expanded right to use or disclose Personal Information for marketing purposes, you would be able to opt out without any such termination.
%br
%br

%h5#change_log Change Log
%ul
  %li October 2012, initial document live