%aside.cta_buttons
  .cta_button= link_to_add_exercise @workout

  .cta_button= link_to_create_copy @workout

  .cta_button= link_to_favorite_workout @current_user, @workout

  .cta_button= link_to_download_workout_pdf @workout

  .cta_button= link_to_delete_workout @workout, @snapz_confirm