%div{"class"=> "#{exercise.muscle.downcase} exercise_list_item"}
  %header
    %h4= exercise.name.titleize
  = truncate(exercise.safe_description.humanize, length: 70)

  = simple_form_for @workout_exercise, remote: true do |f|
    = f.input :exercise_id, as: :hidden, input_html: { value: exercise.id }
    = f.input :workout_id, as: :hidden, input_html: { value: @workout.id }
    = f.submit "ADD", class: "btn btn-primary btn-mini"
%br
%br