%li.workout_exercise.big_box_list.row.well{ "data-value" => exercise.order_number }

  .w_e_order.span1
    - if can? :manage, @workout
      = render partial: "exercises/order_form", locals: { exercise: exercise, value: -1, direction: "up" }
      %h2.order_numbers= exercise.safe_order
      = render partial: "exercises/order_form", locals: { exercise: exercise, value: 1, direction: "down"  }

    - else
      %h2= exercise.safe_order

  .w_e_details.span3
    %h3= link_to exercise.name.titleize, exercise_path(exercise.exercise)
    %br

    .workout_form_group.instructions
      .workout_value.instructions{"data-value" => exercise.id}
        %h5 Instructions
        %p= exercise.safe_instructions.humanize
        = link_to_show_form @workout, "instructions", exercise.id
      .hidden.workout_form.instructions{"data-value" => exercise.id}
        - if can? :manage, @workout
          = simple_form_for exercise, remote: true do |f|
            = f.input :instructions, input_html: { rows: 6 }
            = f.submit "UPDATE WORKOUT", class: "btn btn-primary btn-mini"
        = link_to_hide_form @workout, "instructions", exercise.id
    %br
    %br

    %table.workout_exercise_details
      %thead
        %tr
          %th
            %h5 Sets
          %th
            %h5 Muscle
          %th
            %h5 Equipment

      %tbody
        %tr
          %td
            .workout_form_group.sets
              .workout_value.sets{"data-value" => exercise.id}
                = exercise.safe_sets
                = link_to_show_form @workout, "sets", exercise.id
              - if can? :manage, @workout
                .hidden.workout_form.sets{"data-value" => exercise.id}
                  = simple_form_for exercise, remote: true do |f|
                    = f.input :sets, input_html: { class: "thin_form_element" }
                    = f.submit "UPDATE", class: "btn btn-primary btn-mini"
                  = link_to_hide_form @workout, "sets", exercise.id
          %td= exercise.muscle.titleize
          %td= exercise.equipment_name.titleize

    %br
    - if can? :delete, @workout
      %th= link_to "REMOVE", workout_exercise_path(exercise), confirm: @snapz_confirm, method: :delete, class: "btn btn-danger btn-mini"