= f.input :name
= f.input :description, input_html: { rows: 5 }
= f.input :tips, input_html: { rows: 4 }
= f.input :muscle
= f.input :category
= f.input :equipment_id, collection: @exercise.equipment_list,  group_method: :name