= @snapz

%section
  = simple_form_for @exercise do |f|
    = f.error_notification

    = render partial: "form", locals: { f: f }

    = f.submit "Update Exercise", class: "btn btn-primary"

%section#delete= button_to "Delete Exercise", @exercise, class: "btn btn-danger", confirm: @snapz_confirm_delete, method: :delete