%section.row
  %article.span7
    %h5 Description
    %p= @exercise.description.humanize

    %h5 Tips
    %p= @exercise.tips.humanize

    %h5 Categories
    %p= @exercise.categories.titleize

    %h5 Equipment
    %p= @exercise.equipment.titleize

  %aside.span3.well
    = render "exercise_aside"

%section= link_to "EDIT EXERCISE", edit_exercise_path(@exercise)