%section.row

  %figure.span3
    = image_tag 'shoulder_press.png'

  %article.span4
    %br

    %h5 Description
    %p= @exercise.description.humanize
    %br

    %h5 Tips
    %p= @exercise.tips.humanize
    %br

    %h5 Categories
    %p
      - @exercise.muscle_list.each do |category|
        = category.titleize
    %br

    %h5 Equipment
    %p
      - @exercise.equipment_list.each do |equipment|
        = equipment.titleize

  %aside.span3.well
    = render "exercise_aside"