= simple_form_for new_user_session do |f|
  = f.error_notification

  = f.input :email
  = f.input :password
  = f.submit "LOGIN", class: "btn btn-primary"
/   = f.input :terms_of_service, label: "I agree with #{link_to 'the fitafy Terms of Service', '#terms_of_service_modal', 'data-toggle' => 'modal'}", as: :radio_buttons

/ = render partial: 'shared/terms_of_service'