.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav

        %li#logo= link_to logo, root_path, id: "fitafy_logo"

        %li#nav_link= link_to "WORKOUTS", workouts_path
        %li#nav_link= link_to "NEW WORKOUT", new_workout_path

        %li#nav_link= link_to "EXERCISES", exercises_path
        %li#nav_link= link_to "NEW EXERCISE", new_exercise_path

        - if current_user
          %li#nav_link= link_to current_user.username.upcase, user_path(current_user)
          %li#nav_link= link_to "LOGOUT", logout_path
        - else
          %li#nav_link= link_to "SIGN UP", sign_up_path
          %li#nav_link= link_to "LOGIN", login_path