!!! 5

%head= render 'layouts/head'

%body#main.container

  %nav= render 'layouts/navigation'

  %section#main_content
    = render 'layouts/flashes'

    %header
      %h1= section_title unless params[:action] == 'home'
    = yield

  - if can? :manage, Workout
    = render partial: "workouts/new_from_nav"

= debug(params) if Rails.env.development?