!!! 5

%head= render 'layouts/head'

%body#main

  %nav= render 'layouts/navigation'

  %section#main_content
    = render 'layouts/flashes'
    %header
      // don't have h1 on homepage
      %h1= section_title unless params[:action] == 'home'
    = yield